label {
	width: 48%;
	font-weight: bold;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	
	margin: 7px 0 3px;
}

input, select {
	background: transparent url(../Images/form.png) no-repeat;
	border: 1px solid #bbb;
	padding: 3px 4px 1px;
	width: 48%;
	float: left;
	
	margin: 5px 0 3px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

input:hover, textarea:hover, input:focus, texteara:focus {
	border: 1px solid #000;
}

input.radio, input.checkbox {
	margin: 0 5px 0;
	width: auto;
}

textarea {
	background: #fff url(../Images/form.png) no-repeat;
	border: 1px solid #bbb;
	
	padding: 3px 4px 1px;
	margin: 5px 0;
	
	clear: both;
	display: block;
	width: 98%;
	height: 150px;
}

button {
	float: left;
	margin: 10px 5px;
	clear: both;
	display: block;
	
	height: 34px;
	line-height: 34px;
	width: 160px;
	
	font-family: Calibri, Tahoma, sans-serif;
	font-size: 14;
	padding: 0 0 2px;
	color: #38702e;
	font-weight: bold;
	letter-spacing: 1px;
	
	cursor: pointer;
	border: 0;
	background: url(../Images/button.png) no-repeat;
}

button:hover, button:focus {
	color: #000;
	background-position: 0 -34px;	
}