* {
	margin: 0;
}

html, body {
	height: 100%;
}


body {
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	
	background: #fff url(../Images/bg.gif) repeat-x;
}

body, div, ul {
	margin: 0;
	padding: 0;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -10px;
}

.clear { clear: both; }

div#content {
	width: 502px;
	height: 282px;
	
	overflow: hidden;
	margin: -16px auto 0;
	padding: 30px;
	
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	font-family: Calibri, Tahoma, sans-serif;
	
	background: url('../Images/content.png') no-repeat;
}

a#logo {
	position: relative;
	z-index: 10;
	width: 377px;
	height: 195px;
	
	margin: 10px 0 10px 70px;
	display: block;
	
	background: url('../Images/Styx.png') no-repeat;
}

div#menuleft {
	position: absolute;
	width: 7px;
	height: 130px;
	top: 32px;
	right: 400px;
	z-index: 1;
	
	background: url('../Images/menuleft.png');
}

ul#menu {
	position: absolute;
	width: 400px;
	height: 130px;
	top: 32px;
	right: 0;
	z-index: 1;
	
	background: url('../Images/menu.png');
}

ul#menu li {
	list-style-type: none;
}

ul#menu li a {
	height: 25px;
	line-height: 25px;
	padding: 1px 0 0 7px;
	display: block;
	
	color: #757575;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: -1px;
}

div#footer {
	width: 100%;
	height: 30px;
	margin-top: 10px;
	line-height: 34px;
	overflow: hidden;
	
	background: url('../Images/footer.png') repeat-x;
}

div#footer div {
	margin-right: 10px;
	float: right;
}

div#footer div, div#footer div a {
	color: #5e5e5e;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

div#footer div {
	font-variant: small-caps;
	text-transform: none;
}

div#footer div a:hover {
	text-decoration: underline;
}

div#languages {
	float: right;
}

div#languages a img {
	margin: 1px 5px 1px 1px;
}

div#languages a.selected img {
	margin: 0 4px 0 0;
	border: 1px solid #aaa;
}

div#text {
	width: 500px;
	margin: 0 auto 30px;
	
	color: #5e5e5e;
	background: #e9e9e9;
	
	padding: 5px 10px;
	
	font-weight: bold;
	font-family: Calibri, Tahoma, sans-serif;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div#text small {
	color: #999;
}

h1 {
	width: 100%;
	margin: 0 0 10px;
	padding: 0;
	border-bottom: 2px #9c9b9b solid;
	height: 20px;
	
	color: #9c9b9b;
	font-family: Calibri, Tahoma, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}

a {
	color: #000;
	outline: 0;
}

a:hover { text-decoration: none; }

img, a img { border: 0; }
a.next { float: right; }

a.modifier { text-decoration: none; }
a.modifier:hover { text-decoration: underline; }
a.modifier img { vertical-align: bottom; }

div#content a { color: #f7f7f7; }

span.blue {
	color: #1f52b0;
	font-variant: small-caps;
}

span.green {
	color: #7db71f;
	font-variant: small-caps;
}

.bold, .icon, .italic {
	padding: 0 0 2px 16px;
	background-repeat: no-repeat;
}

.go { background: url(../Images/go.png) 0px -1px no-repeat; }
.go:hover { background-image: url(../Images/gohover.png); }

.hicon {
	margin: 3px 0 0 3px;
	float: right;
	display: block;
}

.hicon img {
	width: 16px;
	height: 16px;
}

.articleimg {
	float: left;
	border: 1px solid #555;
	padding: 3px;
	margin-right: 5px;
}

.error, .notice, .success {
	background: #FBE3E4;
	color: #8a1f11;
	margin: 1em 0;
	
	padding: .8em;
	border: 2px solid #FBC2C4;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.notice { background: #FFF6BF; color: #514721; border-color: #FFD324; margin-bottom: 0; }
.success { background: #E6EFC2; color: #264409; border-color: #C6D880; }

.error a { color: #8a1f11; }
.notice a { color: #514721; }
.success a { color: #264409; }
.error img, .notice img, .success img { vertical-align: text-bottom; }