label {
	width: 48%;
	font-weight: bold;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	
	color: #000;
	margin: 7px 0 3px;
}

input, select, textarea {
	float: left;
	width: 48%;
	
	padding: 3px 4px;
	margin: 5px 0 3px;
	font-family: Calibri, Tahoma, sans-serif;
	font-size: 14px;
	
	background-color: #fff;
	border: 1px solid #666;
}

input:hover, textarea:hover, input:focus, texteara:focus {
	border: 1px solid #000;
}

input.radio, input.checkbox {
	margin: 0 5px 0;
	width: auto;
}

textarea {
	clear: both;
	display: block;
	
	width: 98%;
	height: 150px;
	
	margin: 5px 0;
	font-size: 12px;
}

button {
	border: 1px solid #666;
	float: left;
	margin: 10px 5px;
	clear: both;
	display: block;
	
	height: 20px;
	line-height: 20px;
	
	font-family: Calibri, Tahoma, sans-serif;
	font-size: 14;
	padding: 0 5px 2px;
	color: #000;
	font-weight: bold;
	letter-spacing: 1px;
	
	cursor: pointer;
}

button:hover, button:focus {
	color: #333;
}