body {
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	
	background-color: #fff;
}

body, div, ul {margin: 0; padding: 0; }
.clear { clear: both; }
.nodisplay { display: none; }

a#logo {
	position: relative;
	z-index: 10;
	width: 377px;
	height: 195px;
	
	margin: 10px 0 10px 70px;
	display: block;
	
	background: url('../Images/Styx.png') no-repeat;
}

div.text {
	width: 600px;
	margin: 20px auto 30px;
	color: #5e5e5e;
	background: #e9e9e9;
	
	padding: 5px 10px;
	
	font-weight: bold;
	font-family: Calibri, Tahoma, sans-serif;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

h1 {
	margin: 0 0 5px;
	padding: 0;
	
	font-family: Calibri, Tahoma, sans-serif;
	font-size: 20px;
	color: #9c9b9b;
	text-transform: uppercase;
}

h1 span {
	font-size: 12px;
	text-transform: none;
}

a {
	color: #000;
	outline: 0;
}

a:hover { text-decoration: none; }
img, a img { border: 0; }

a.next {
	display: block;
	float: right;
}

a.previous {
	display: block;
}

.error, .notice, .success {
	background: #FBE3E4;
	color: #8a1f11;
	margin: 1em 0;
	
	padding: .8em;
	border: 2px solid #FBC2C4;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


.notice { background: #FFF6BF; color: #514721; border-color: #FFD324; margin-bottom: 0; }
.success { background: #E6EFC2; color: #264409; border-color: #C6D880; }

.error a { color: #8a1f11; }
.notice a { color: #514721; }
.success a { color: #264409; }
.error img, .notice img, .success img { vertical-align: text-bottom; }